body {
  background: red;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7ff;
}

.container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.feedback-card {
  background: white;
  width: 700px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.feedback-card h1 {
  color: #5b3df5;
}

.feedback-card input,
.feedback-card textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.feedback-card textarea {
  min-height: 100px;
}

.feedback-card button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    #5b3df5,
    #7c4dff
  );
  color: white;
  font-size: 16px;
  cursor: pointer;
}